# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

#tweets data ignore
*processed.txt

#ignoring csv files
*.csv
!wordpairs.csv
!WordPairEventCountMatrix.csv
!WordPairMatrizBinarized.csv

.ipynb_checkpoints

jaccard.csv

WordPairMatrixBinarized.csv

WordPairEventCountMatrix.py

DataFormation.py

untitled5.py

untitled2.py

Untitled2.ipynb

untitled1.py

Untitled1.ipynb

untitled0.py

Untitled.ipynb

Threshold.py

ModelBuilding.py

ParameterSearch.py

plot_rfe_with_cross_validation.py

WordPairMatrixBinarizer.py

LogisticRegression.ipynb

Random Forest.ipynb

SVM Classification.ipynb


XGBoost.ipynb
